<div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-logo"></i> <span>Angular Training</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="/src/resource/images/avatar.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>TU Tran</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu" >
                <li><a><i class="fa fa-cogs"></i> Security <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: block">
                    <li><a [routerLink]="['/security/users']">Users</a>
                    </li>
                    <li><a href="index2.html">Permissions</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-cogs"></i> Setting <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: block">
                    <li><a [routerLink]="['/setting/appSettings']">App Settings</a>
                    </li>
                    <li><a href="index2.html">Database Settings</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="/src/resource/images/avatar.jpg" alt="">
                  TU Tran
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="javascript:;">  Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
          <router-outlet (activate)="onRouteActivated($event)"></router-outlet>
          <!-- <users></users> -->
              <!-- <div class="x_panel">
                <div class="x_title">
                  <h2>Users</h2>
                  <span class="pull-right">
                    <i class="fa fa-plus-square fa-2x pull-right"></i>
                  </span>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div> -->
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          http://coaching.edu.vn
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="/src/resource/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/src/resource/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/src/resource/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/src/resource/vendors/nprogress/nprogress.js"></script>
  <!-- iCheck -->
  <script src="/src/resource/vendors/iCheck/icheck.min.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/src/resource/js/custom.js"></script>